the concept is different for TS because the data are collected in order over the time, so we cannot randomly split the data.

In [1]:
import pandas as pd

In [2]:
temp_df=pd.read_csv('daily-min-temperatures.csv', header=0, parse_dates=[0])

In [6]:
temp_df.head()

        Date  Temp
0 1981-01-01  20.7
1 1981-01-02  17.9
2 1981-01-03  18.8
3 1981-01-04  14.6
4 1981-01-05  15.8

In [5]:
temp_df.tail()

           Date  Temp
3645 1990-12-27  14.0
3646 1990-12-28  13.6
3647 1990-12-29  13.5
3648 1990-12-30  15.7
3649 1990-12-31  13.0

In [4]:
temp_df.shape

(3650, 2)

80% trani set : les premières valeurs

20% test set : les dernières valeurs **il faut garder la chronologie**

In [8]:
train_size=int(temp_df.shape[0]*0.8)
train_size

2920

In [11]:
train=temp_df[0:train_size]
test=temp_df[train_size:]

In [12]:
print(train.shape)
print(test.shape)

(2920, 2)
(730, 2)

#### Walk Forward Validation:
si nous avons des données jusqu'à la date t-1, on entraine notre modèle sur ces données pour predir la valeur en t.
de même si nous avons la valeur orgine de l'instant t, on met à jour notre modèle en tenant compte de cette valeur pour prèdir la valeur en t+1 et ainsi de suite.

si on a pas les données originales pour l'entrainement on utilise les données disponibles.

cette technique est à utiliser sur notre test set